@import './layout.scss';
@import './sidebar.scss';
@import './mainpage.scss';
@import './transition.scss';

html {
  height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
}

body,
#app,
.wrapper {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
